.picture-container {
    position: relative;
    
    .picture {
        display: block;
        position: absolute;
    }
}

.picture-actions-container {
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.picture-container-modifiable:hover {
    .picture {
        opacity: 0.5;
    }
}