.genre-manipulation-list-container {
    padding: 10px;
}

.create-genre-input-container {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #8c8c8c;
}

.action-btn {
    width: 100%;
}

.create-genre-input {
    padding: 0 0 15px 0;
}

.genres-container {
    padding: 25px 0 0 0;
}