<div class="welcome-page w-full h-full">
    <div class="welcome-page-fogging w-full h-full">
        <div class="welcome-page-container w-full h-full flex flex-col justify-center items-center">
            <h1 class="welcome-page-header">
                Films, serials and other without any restrictions.
            </h1>
            <h1 class="start-watch-header">Start watching right now!</h1>

            <div class="start-watch-btn">
                <button 
                  mat-flat-button color="primary"
                  routerLink="/login"
                >
                  Start watching
                </button>
              </div>
        </div>
    </div>
</div>