.page-container {
    padding-top: 0px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
}

.page-container-content {
    display: flex;
    flex-direction: column;
}

.page-header-container {
    margin-bottom: 50px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #1f1f1f;
}