<div class="background-image-page">
    <div class="email-verified-fogging w-full h-full">
        <div class="page-container">
            <app-error-box *ngIf='lastError' [error]="lastError"></app-error-box>

            <mat-spinner *ngIf="requestInProgress"></mat-spinner>

            <div *ngIf='!emailWasSent; else requestFinished' class="page-container-content">
                <div class="page-header-container">
                    <div class="page-header">
                        <span>Enter you email</span>
                    </div>
                </div>
    
                <mat-form-field appearance="fill" class="mb-3">
                    <input matInput placeholder="email@example.com"  [formControl]="email" aria-required="false">
                    <mat-error *ngIf="email.invalid">{{ getErrorMessage(email) }}</mat-error>
                </mat-form-field>

                <button 
                    mat-button 
                    (click)="onSendRestorationEmailBtnWasClicked()" 
                    [disabled]="email.invalid || requestInProgress"
                    class="action-btn">
                    Send mail
                </button>
            </div>

            <ng-template #requestFinished>
                <div class="page-header-container">
                    <div class="page-header">
                        <span>Link to password restoration was sent</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>